<div class="container panel panel-default espaco">

  <!-- navegação -->
  <div class="row">
    <!-- logo da loja -->
    <div class="col-sm-6 col-xs12">
      <img src="../assets/store_logo.png" alt="logo_página">

    </div>

    <!-- botões 'loja' 'stock' -->
    <div class="col-sm-6 col-xs12 text-right">
      <button class="btn btn-primary btn-size" type="button" (click)="mostrarLoja()">Loja</button>
      <button class="btn btn-primary btn-size" type="button" (click)="mostrarStock()">Stock</button>

    </div>

  </div>

  <app-loja *ngIf="loja_visivel" ></app-loja>
  <app-stock *ngIf="stock_visivel" ></app-stock>

</div>
